section{
    position: relative;
}
body {
    margin: 0%;
    background-image: url('../images/background.svg');
    background-repeat: repeat;    
}


nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    
}

.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
    padding-inline-start: 40px; 
    list-style-type: none;
    padding: auto;
    overflow: hidden;
    margin-right: 5%;

}

li{
    margin: 20px;
}

#logo{
    margin-left: 5%;
    height:100px;
}

a{
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
}

a:hover{
    color: #00D8FF;
}

h1{
    font-size: 4rem;
}

.top-wave {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.top-wave svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}

.top-wave .shape-fill-nav {
    fill: #000000;
}

.toggle_btn{
    display: none;
}

#About
{
    display: flex;
    flex-direction: column;
}

#resume
{
    display: flex;
    flex-direction: column;
}

#Contact
{   display: flex;
    flex-direction: column;
}

p{
    font-size: 1.5rem;
}

.container { 
    height:10%;
    background-color: rgb(192, 192, 192); 
    width: 80%; 
} 

.skill { 
    background-color: rgb(116, 194, 92); 
    color: black; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
} 

.html { 
    width: 80%; 
} 

.php { 
    width: 60%; 
}  

h1, h2{
    color: #00D8FF;
    font-family: "Poppins", sans-serif;
}
#about-heading{
    text-align: center;
    font-size: 35px;
}

#about-text{
    color:aliceblue;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
}

.about-container{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 20px;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    border-color: #00D8FF;
    border-style: solid;
    background-color: #202731;
    opacity: 0.8;
}

.hobbies-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    

}

.skills, .hobbies{
    padding: 20px;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 20px;
    border-color: #00D8FF;
    border-style: solid;
    background-color: #202731;
    opacity: 0.8;

}

#me{
    width: 600px; 
    height: 400px; 
}

.hobby-icon{
    padding-right: 10px;

}

.hobbie-box{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 72px;
    width: 207px;
    border-style: solid;
    transition: 0.3s;
    margin:2%;
    background: #202731;

}

.hobbie-box:hover{
    border-color: #00D8FF;
    .hobby-text{
        transition: 0.3s;
        color: #00D8FF;
    
    }
    
}

.hobby-text{
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
    font-size: 25px;
    color: aliceblue;

}


.title{
    font-family: "Poppins", sans-serif;
    color: #00D8FF;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 35px;

}

.shape-fill-hobby{
    fill: #202731;
}


.menu{
    display: none;
    background-color: black;
}

.resume-container{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    border-color: #00D8FF;
    border-style: solid;
    background-color: #202731;
    opacity: 0.8;

}

.resume-title{
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #f000ff;
    margin-bottom: 10px;
}

.resume-box::before{
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #f000ff;
    border: 2px solid #f000ff;
}

.resume-box{
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
}

.contact-container{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    border-color: #00D8FF;
    border-style: solid;
    background-color: #202731;
    opacity: 0.8;
}

@media screen and  (max-width: 768px){
    .about-container{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    #me{
        width: 300px;
        height: 200px;
    }
    .navbar{
        display:none;

    }
    .toggle_btn{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 5%;
    }

    .menu.open{
        display: flex;
        margin:0%;
        flex-direction: column;
        animation: rotateX 300ms ease-in-out forwards;
        transform-origin: top center;
        .top-wave{
            display: block;
          }
    }

    @keyframes rotateX {
        0% {
          opacity: 0;
          transform: rotateX(-90deg);
          .top-wave{
            display: none;
          }
        }
        50% {
          transform: rotateX(-20deg);
        }
        100% {
          opacity: 1;
          transform: rotateX(0deg);
        }
      }

}

